#profilepic {
	width: 256px;
	border-radius: 50%;
}

.progress-bar {
	background-color: #2C3E50;
	border-radius: 5px;
	height: 30px;
	font-weight: bold;
	font-size: 15px;
}

#html {
	width: 100%;
}

#css {
	width: 90%;
}

#bootstrap {
	width: 80%;
}

#javascript {
	width: 90%;
}

#angularjs {
	width: 60%;
}

#java {
	width: 100%;
}

#php {
	width: 80%;
}

#codeigniter {
	width: 70%;
}

#aws {
	width: 100%;
}

#rest {
	width: 70%;
}

#tomcat {
	width: 80%;
}

#apache {
	width: 90%;
}